prj/*/impl1
prj/*/impl1/*
*/bin
*/*/obj_dir/*
m68k_cross_baremetal/vasm
m68k_cross_baremetal/vbcc
m68k_cross_baremetal/vlink
*.xml
*.tpf
*.tcr
*.bit
*.asm
*.lst
*.o
*.a
*.elf
*.bin
*.map
*.ref
*.dis
*.ini
*.html
*.hex
*.vcd
*.gtkw
site.mk

