# Copy this file to site.mk and edit the paths below so the project makefiles can find 
# the requisite tools. (Lattice Diamond, version 3.11 recommended, Verilator, etc.)


DIAMOND_PATH = /opt/diamond/3.11/bin/lin64/


# VERILATOR
# If Verilator is installed systemwide the include path will probably be
# /usr/share/verilator/include
# If you're using oss-cad-suite,  it will likely be
# /path/to/oss-cad-suite/share/verilator/include

VERILATOR_DIR=/usr/share/verilator/include


