BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

# Base64 signals

# U2

LOCATE COMP "d_lo_oe" SITE "K3" ;# PL20D
LOCATE COMP "d[0]" SITE "K4" ;# PL29A
LOCATE COMP "d[1]" SITE "J3" ;# PL20C
LOCATE COMP "d[2]" SITE "J4" ;# PL17C
LOCATE COMP "d[3]" SITE "H3" ;# PL14D
LOCATE COMP "d[4]" SITE "G3" ;# PL14C
LOCATE COMP "d[5]" SITE "G4" ;# PL11B
LOCATE COMP "d[6]" SITE "F3" ;# PL5D
LOCATE COMP "d[7]" SITE "F4" ;# PL8C
IOBUF PORT "d_lo_oe" IO_TYPE=LVTTL33 ;
IOBUF PORT "d[0]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[1]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[2]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[3]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[4]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[5]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[6]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[7]" IO_TYPE=LVTTL33 PULLMODE=UP ;


# U3 

LOCATE COMP "d_hi_oe" SITE "E3" ;# PL5C 
LOCATE COMP "d[8]" SITE "E4" ;# PT9A
LOCATE COMP "d[9]" SITE "C3" ;# PL2C 
LOCATE COMP "d[10]" SITE "D4" ;# PT9B 
LOCATE COMP "d[11]" SITE "C4" ;# PT11A 
LOCATE COMP "d[12]" SITE "D5" ;# PT13B
LOCATE COMP "d[13]" SITE "C5" ;# PT15A 
LOCATE COMP "d[14]" SITE "D6" ;# PT20B 
LOCATE COMP "d[15]" SITE "C6" ;# PT22A
IOBUF PORT "d_hi_oe" IO_TYPE=LVTTL33 ;
IOBUF PORT "d[8]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[9]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[10]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[11]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[12]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[13]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[14]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "d[15]" IO_TYPE=LVTTL33 PULLMODE=UP ;


# U4

LOCATE COMP "a_hi_oe" SITE "C8" ;# PT35A
LOCATE COMP "rw" SITE "D9" ;# PT40A
LOCATE COMP "lds" SITE "C9" ;# PT38B
LOCATE COMP "uds" SITE "D10" ;# PT47A
LOCATE COMP "as" SITE "C10" ;# PT44B
LOCATE COMP "a[23]" SITE "D11" ;# PT51A
LOCATE COMP "a[22]" SITE "C11" ;# PT49B
LOCATE COMP "a[21]" SITE "D12" ;# PT58A
LOCATE COMP "a[20]" SITE "C12" ;# PT58D
LOCATE COMP "a[19]" SITE "D13" ;# PT62A
LOCATE COMP "a[18]" SITE "C13" ;# PT62D
IOBUF PORT "a_hi_oe" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[18]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[19]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[20]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[21]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[22]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[23]" IO_TYPE=LVTTL33 ;
IOBUF PORT "rw" IO_TYPE=LVTTL33 ;
IOBUF PORT "uds" IO_TYPE=LVTTL33 ;
IOBUF PORT "lds" IO_TYPE=LVTTL33 ;
IOBUF PORT "as" IO_TYPE=LVTTL33 ;


# U5 - _OE tied low

LOCATE COMP "clk2x" SITE "C7" ;# PT24B
LOCATE COMP "bgack" SITE "E12" ;# PT58B
LOCATE COMP "bg" SITE "E13" ;# PT62B
LOCATE COMP "br" SITE "E14" ;# PR5C
LOCATE COMP "dtack" SITE "F13" ;# PR8C
LOCATE COMP "vma" SITE "F14" ;# PR5D
LOCATE COMP "e" SITE "G13" ;# PR11B
LOCATE COMP "vpa" SITE "G14" ;# PR14C
LOCATE COMP "halt" SITE "H13" ;# PR17B
LOCATE COMP "reset" SITE "H14" ;# PR14D
IOBUF PORT "clk2x" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "bgack" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "bg" IO_TYPE=LVTTL33 ;
IOBUF PORT "br" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "dtack" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "vma" IO_TYPE=LVTTL33 ;
IOBUF PORT "e" IO_TYPE=LVTTL33 ;
IOBUF PORT "vpa" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "halt" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "reset" IO_TYPE=LVTTL33 ;
FREQUENCY   PORT "clk2x"    14 MHZ;


# U6 - _OE tied low

LOCATE COMP "berr" SITE "K13" ;# PR29A
LOCATE COMP "ipl[2]" SITE "K14" ;# PR20D
LOCATE COMP "ipl[1]" SITE "L13" ;# PR29C
LOCATE COMP "ipl[0]" SITE "L14" ;# PR32C
LOCATE COMP "fc[0]" SITE "M13" ;# PR35C
LOCATE COMP "fc[1]" SITE "M12" ;# PR44C
LOCATE COMP "fc[2]" SITE "P14" ;# PR38B
LOCATE COMP "cfgout" SITE "B2" ;# PL2B
LOCATE COMP "cfgin" SITE "B1" ;# PL2A
LOCATE COMP "clk" SITE "J1" ;# PT24B
IOBUF PORT "berr" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "ipl[0]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "ipl[1]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "ipl[2]" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "fc[0]" IO_TYPE=LVTTL33 ;
IOBUF PORT "fc[1]" IO_TYPE=LVTTL33 ;
IOBUF PORT "fc[2]" IO_TYPE=LVTTL33 ;
IOBUF PORT "cfgout" IO_TYPE=LVTTL33 ;
IOBUF PORT "cfgin" IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "clk" IO_TYPE=LVTTL33 PULLMODE=UP ;
FREQUENCY   PORT "clk"    7 MHZ;


# U7

LOCATE COMP "a_md_oe" SITE "M11" ;# PR47D
LOCATE COMP "a[17]" SITE "P11" ;# PR47C
LOCATE COMP "a[16]" SITE "N12" ;# PR44D
LOCATE COMP "a[15]" SITE "B3" ;# PT4B
LOCATE COMP "a[14]" SITE "A3" ;# PT6A
LOCATE COMP "a[13]" SITE "B4" ;# PT11B
LOCATE COMP "a[12]" SITE "A4" ;# PT6B
LOCATE COMP "a[11]" SITE "P13" ;# PR41A
LOCATE COMP "a[10]" SITE "N13" ;# PR38A
LOCATE COMP "a[9]" SITE "J14" ;# PR20C
LOCATE COMP "a[8]" SITE "J13" ;# PR17C
IOBUF PORT "a_md_oe" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[8]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[9]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[10]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[11]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[12]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[13]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[14]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[15]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[16]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[17]" IO_TYPE=LVTTL33 ;


# U8

LOCATE COMP "a_lo_oe" SITE "B5" ;# PT15B
IOBUF PORT "a_lo_oe" IO_TYPE=LVTTL33 ;
LOCATE COMP "a[7]" SITE "A8" ;# PT29B
LOCATE COMP "a[6]" SITE "B8" ;# PT35B
LOCATE COMP "a[5]" SITE "A7" ;# PT29A
LOCATE COMP "a[4]" SITE "B7" ;# PT27B
LOCATE COMP "a[3]" SITE "A5" ;# PT18A
LOCATE COMP "a[2]" SITE "B6" ;# PT22B
LOCATE COMP "a[1]" SITE "A6" ;# PT18B
IOBUF PORT "a[1]" IO_TYPE=LVTTL33 SLEWRATE=SLOW ;
IOBUF PORT "a[2]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[3]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[4]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[5]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[6]" IO_TYPE=LVTTL33 ;
IOBUF PORT "a[7]" IO_TYPE=LVTTL33 ;


# IceSugarPro signals

LOCATE COMP "clk_i" SITE "P6" ;
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33 PULLMODE=UP ;
FREQUENCY   PORT "clk_i"    25 MHZ;


# SDRAM signals

LOCATE COMP "sdram_clk" SITE "R15";
IOBUF PORT "sdram_clk" PULLMODE=NONE;
IOBUF PORT "sdram_clk" DRIVE=4;
IOBUF PORT "sdram_clk" SLEWRATE=FAST;
IOBUF PORT "sdram_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[0]" SITE "H15";
IOBUF PORT "sdram_a[0]" PULLMODE=NONE;
IOBUF PORT "sdram_a[0]" DRIVE=4;
IOBUF PORT "sdram_a[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[1]" SITE "B13";
IOBUF PORT "sdram_a[1]" PULLMODE=NONE;
IOBUF PORT "sdram_a[1]" DRIVE=4;
IOBUF PORT "sdram_a[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[2]" SITE "B12";
IOBUF PORT "sdram_a[2]" PULLMODE=NONE;
IOBUF PORT "sdram_a[2]" DRIVE=4;
IOBUF PORT "sdram_a[2]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[3]" SITE "J16";
IOBUF PORT "sdram_a[3]" PULLMODE=NONE;
IOBUF PORT "sdram_a[3]" DRIVE=4;
IOBUF PORT "sdram_a[3]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[4]" SITE "J15";
IOBUF PORT "sdram_a[4]" PULLMODE=NONE;
IOBUF PORT "sdram_a[4]" DRIVE=4;
IOBUF PORT "sdram_a[4]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[5]" SITE "R12";
IOBUF PORT "sdram_a[5]" PULLMODE=NONE;
IOBUF PORT "sdram_a[5]" DRIVE=4;
IOBUF PORT "sdram_a[5]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[6]" SITE "K16";
IOBUF PORT "sdram_a[6]" PULLMODE=NONE;
IOBUF PORT "sdram_a[6]" DRIVE=4;
IOBUF PORT "sdram_a[6]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[7]" SITE "R13";
IOBUF PORT "sdram_a[7]" PULLMODE=NONE;
IOBUF PORT "sdram_a[7]" DRIVE=4;
IOBUF PORT "sdram_a[7]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[8]" SITE "T13";
IOBUF PORT "sdram_a[8]" PULLMODE=NONE;
IOBUF PORT "sdram_a[8]" DRIVE=4;
IOBUF PORT "sdram_a[8]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[9]" SITE "K15";
IOBUF PORT "sdram_a[9]" PULLMODE=NONE;
IOBUF PORT "sdram_a[9]" DRIVE=4;
IOBUF PORT "sdram_a[9]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[10]" SITE "A13";
IOBUF PORT "sdram_a[10]" PULLMODE=NONE;
IOBUF PORT "sdram_a[10]" DRIVE=4;
IOBUF PORT "sdram_a[10]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[11]" SITE "R14";
IOBUF PORT "sdram_a[11]" PULLMODE=NONE;
IOBUF PORT "sdram_a[11]" DRIVE=4;
IOBUF PORT "sdram_a[11]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[12]" SITE "T14";
IOBUF PORT "sdram_a[12]" PULLMODE=NONE;
IOBUF PORT "sdram_a[12]" DRIVE=4;
IOBUF PORT "sdram_a[12]" SLEWRATE=FAST;
IOBUF PORT "sdram_a[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[0]" SITE "F16";
IOBUF PORT "sdram_dq[0]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[0]" DRIVE=4;
IOBUF PORT "sdram_dq[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[1]" SITE "E15";
IOBUF PORT "sdram_dq[1]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[1]" DRIVE=4;
IOBUF PORT "sdram_dq[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[2]" SITE "F15";
IOBUF PORT "sdram_dq[2]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[2]" DRIVE=4;
IOBUF PORT "sdram_dq[2]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[3]" SITE "D14";
IOBUF PORT "sdram_dq[3]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[3]" DRIVE=4;
IOBUF PORT "sdram_dq[3]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[4]" SITE "E16";
IOBUF PORT "sdram_dq[4]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[4]" DRIVE=4;
IOBUF PORT "sdram_dq[4]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[5]" SITE "C15";
IOBUF PORT "sdram_dq[5]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[5]" DRIVE=4;
IOBUF PORT "sdram_dq[5]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[6]" SITE "D16";
IOBUF PORT "sdram_dq[6]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[6]" DRIVE=4;
IOBUF PORT "sdram_dq[6]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[7]" SITE "B15";
IOBUF PORT "sdram_dq[7]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[7]" DRIVE=4;
IOBUF PORT "sdram_dq[7]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[8]" SITE "R16";
IOBUF PORT "sdram_dq[8]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[8]" DRIVE=4;
IOBUF PORT "sdram_dq[8]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[9]" SITE "P16";
IOBUF PORT "sdram_dq[9]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[9]" DRIVE=4;
IOBUF PORT "sdram_dq[9]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[10]" SITE "P15";
IOBUF PORT "sdram_dq[10]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[10]" DRIVE=4;
IOBUF PORT "sdram_dq[10]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[11]" SITE "N16";
IOBUF PORT "sdram_dq[11]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[11]" DRIVE=4;
IOBUF PORT "sdram_dq[11]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[12]" SITE "N14";
IOBUF PORT "sdram_dq[12]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[12]" DRIVE=4;
IOBUF PORT "sdram_dq[12]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[13]" SITE "M16";
IOBUF PORT "sdram_dq[13]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[13]" DRIVE=4;
IOBUF PORT "sdram_dq[13]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[14]" SITE "M15";
IOBUF PORT "sdram_dq[14]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[14]" DRIVE=4;
IOBUF PORT "sdram_dq[14]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[15]" SITE "L15";
IOBUF PORT "sdram_dq[15]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[15]" DRIVE=4;
IOBUF PORT "sdram_dq[15]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_we_n" SITE "A15";
IOBUF PORT "sdram_we_n" PULLMODE=NONE;
IOBUF PORT "sdram_we_n" DRIVE=4;
IOBUF PORT "sdram_we_n" SLEWRATE=FAST;
IOBUF PORT "sdram_we_n" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_ras_n" SITE "B16";
IOBUF PORT "sdram_ras_n" PULLMODE=NONE;
IOBUF PORT "sdram_ras_n" DRIVE=4;
IOBUF PORT "sdram_ras_n" SLEWRATE=FAST;
IOBUF PORT "sdram_ras_n" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_cas_n" SITE "G16";
IOBUF PORT "sdram_cas_n" PULLMODE=NONE;
IOBUF PORT "sdram_cas_n" DRIVE=4;
IOBUF PORT "sdram_cas_n" SLEWRATE=FAST;
IOBUF PORT "sdram_cas_n" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_cs_n" SITE "A14";
IOBUF PORT "sdram_cs_n" PULLMODE=NONE;
IOBUF PORT "sdram_cs_n" DRIVE=4;
IOBUF PORT "sdram_cs_n" SLEWRATE=FAST;
IOBUF PORT "sdram_cs_n" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_cke" SITE "L16";
IOBUF PORT "sdram_cke" PULLMODE=NONE;
IOBUF PORT "sdram_cke" DRIVE=4;
IOBUF PORT "sdram_cke" SLEWRATE=FAST;
IOBUF PORT "sdram_cke" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_ba[0]" SITE "G15";
IOBUF PORT "sdram_ba[0]" PULLMODE=NONE;
IOBUF PORT "sdram_ba[0]" DRIVE=4;
IOBUF PORT "sdram_ba[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_ba[1]" SITE "B14";
IOBUF PORT "sdram_ba[1]" PULLMODE=NONE;
IOBUF PORT "sdram_ba[1]" DRIVE=4;
IOBUF PORT "sdram_ba[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dqm[0]" SITE "C16";
IOBUF PORT "sdram_dqm[0]" PULLMODE=NONE;
IOBUF PORT "sdram_dqm[0]" DRIVE=4;
IOBUF PORT "sdram_dqm[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_dqm[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dqm[1]" SITE "T15";
IOBUF PORT "sdram_dqm[1]" PULLMODE=NONE;
IOBUF PORT "sdram_dqm[1]" DRIVE=4;
IOBUF PORT "sdram_dqm[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_dqm[1]" IO_TYPE=LVCMOS33;


# Other signals on the IceSugarPro

LOCATE COMP "led_red" SITE "B11"; # PT49A
LOCATE COMP "led_green" SITE "A11"; # PT53A
LOCATE COMP "led_blue" SITE "A12"; # PT53B
IOBUF PORT "led_red" IO_TYPE=LVCMOS33;
IOBUF PORT "led_green" IO_TYPE=LVCMOS33;
IOBUF PORT "led_blue" IO_TYPE=LVCMOS33;

LOCATE COMP "sd_d0" SITE "K12"; # PR29B
LOCATE COMP "sd_d1" SITE "L12"; # PR29D
LOCATE COMP "sd_d2" SITE "F12"; # PR8D
LOCATE COMP "sd_d3" SITE "G12"; # PR11A
LOCATE COMP "sd_cmd" SITE "H12"; # PR17A
LOCATE COMP "sd_clk" SITE "J12"; # PR17D
IOBUF PORT "sd_d0" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_d1" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_d2" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_d3" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_cmd" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_clk" IO_TYPE=LVCMOS33;
